.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: $break-med){
    grid-template-columns: 1fr;
  }
}

.about {
  margin-left: auto;
  color: #3b3131;
  text-align: right;
  padding: 45px 0 0 0;
  background: white;
  & hr {
    display: none;
    @media only screen and (max-width: $break-med){
      display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fa7a24cb, rgba(0, 0, 0, 0));
    }
  }
}

.about__content {
  width: 100%;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  @media only screen and (max-width: $break-med) {
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
  }
}

.about__top {
  grid-column: 1/3;
}

.about__heading {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 2em;
  margin: 0;
  margin-left: 20px;
  grid-column: 1/3;
  text-align: left;
}

.about__sub {
  margin: 0;
  grid-column: 1/3;
  text-align: center;
  font-weight: 300;
}

.about__prop {
  text-align: right;
  grid-column: 1/2;
  font-weight: 600;
  margin: 0;
}

.about__value {
  font-family: $font-1;
  text-align: left;
  grid-column: 2/3;
  margin: 0;
  letter-spacing: .05em;
}

.about__value span {
  font-style: italic;
}

.about__cri {
  grid-column: 2/3;
  text-align: left;
}


.contact__h1 {
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  @media only screen and (max-width: $break-med){
    font-size: 1.5em;
    margin: 0;
  }
}

.contact__h2, .studio__country {
  font-size: 1.2em;
  @media only screen and (max-width: $break-med){
    margin: 20px 0 5px 0;
  }
}

.studio-container {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $break-med){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }
}

.studio-1 {
  grid-column: 1/2;
  @media only screen and (max-width: $break-med){

  }
}

.studio-2 {
  grid-column: 2/3;
  @media only screen and (max-width: $break-med){

  }
}

.contacts > div {
  @media only screen and (max-width: $break-med){
    display: grid;
    grid-template-rows: auto auto;
    width: 50%;
    margin: auto;
  }
}


.contact-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  @media only screen and (max-width: $break-med){
    display: grid;
    grid-template-rows: auto auto;
  }
}

.contact__left {
  text-align: right;
  width: 50%;
  padding-right: 25px;
  @media only screen and (max-width: $break-med){
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.contact__right {
  text-align: left;
  width: 50%;
  padding-left: 25px;
  @media only screen and (max-width: $break-med){
    width: 100%;
    text-align: center;
    padding: 0
  }
}

.studio__name {
  color: $primary-color;
}

.contact__btn {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  border: none;
  background: $primary-color;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  height: 40px;
  &:hover {
    background: rgb(58, 50, 50);
    color: $primary-color;
  }
  @media only screen and (max-width: $break-small) {
    display: inline-block;
  }
}

