.footer {
  height: 50px;
  background: rgb(58, 50, 50);
  margin-top: 100px;
  display: flex;
  align-items: center;
  box-shadow: $shadow;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.social {

}

.copy {
  font-size: .9em;
  font-family: "montserrat"
}

.footer__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 176, 99);
  height: 50px;
  width: 50px;
}