*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: "Montserrat";
  color: #141414;
  overflow-x: hidden;
  font-size: 1rem; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto; }
  @media only screen and (max-width: 500px) {
    .container {
      width: 100%;
      padding: 0 10px; } }

.btn {
  background: white;
  padding: 15px 25px;
  border: 1px solid #ff7f40;
  border-radius: 5px;
  color: #ff7f40;
  cursor: pointer; }
  .btn:hover {
    background: #ff7f40;
    color: white; }

.active {
  background: #ff7f40;
  color: white;
  position: relative;
  outline: none;
  z-index: 2; }
  .active::before {
    content: "";
    height: 50px;
    width: 50px;
    background: #ff7f40;
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    top: 45%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1; }

.topnav {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 900;
  height: 60px;
  color: #ff7f40; }

.topnav-text {
  display: block;
  color: inherit;
  margin: auto; }

.big-number {
  font-size: 2rem; }
  @media only screen and (max-width: 756px) {
    .big-number {
      font-size: 1.9rem; } }
  @media only screen and (max-width: 500px) {
    .big-number {
      font-size: 1.75rem; } }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff7f40;
  position: fixed;
  margin-top: 60px;
  z-index: 999;
  width: 100%;
  max-width: 100vw;
  height: 47px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s; }
  @media only screen and (max-width: 768px) {
    .navbar {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

@media only screen and (max-width: 768px) {
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logo span {
    font-family: Arial, Helvetica, sans-serif; }
  @media only screen and (max-width: 500px) {
    .logo {
      display: none; } }

.navbar:hover {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color: #ff7f40;
  background-image: none; }

.navbar.solid {
  background-color: #ff7f40;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
  background-image: none; }

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .navbar a {
      padding: 14px 10px;
      font-size: 12px; } }

.navbar a.active-nav {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.363); }

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden; }

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 110px; }
  @media only screen and (max-width: 768px) {
    .subnav .subnavbtn {
      padding: 14px 2%;
      font-size: 12px; } }

/* Style the subnav content - positioned absolute */
.subnav-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0;
  top: 46px;
  background-color: white;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0; }

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: #141414;
  text-decoration: none; }

/* Add a primary color on subnav link hover */
.subnav-content a:hover {
  color: #ff7f40; }

.shownav {
  visibility: visible;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1; }

.highlightnav {
  color: #141414 !important; }

.booking-btn {
  font-weight: 600; }

.footer {
  height: 50px;
  background: #3a3232;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02); }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

a {
  color: #e2d9d3;
  text-decoration: none;
  margin-right: 10px; }
  a .fab {
    color: #e2d9d3;
    margin-right: 5px; }

.copy {
  font-size: .9em;
  font-family: "montserrat";
  color: rgba(255, 255, 255, 0.315); }

.footer__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e4b063;
  height: 50px;
  width: 50px; }

.workshop {
  margin: 50px 0;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 10px;
  background: white; }
  .workshop a {
    color: #ff7f40; }

.workshop__heading {
  font-family: "Montserrat";
  font-weight: 300;
  text-align: center;
  color: #464040;
  line-height: 1.25em;
  font-size: 2em; }

.workshop__p {
  text-align: left;
  margin: auto;
  margin-bottom: 16px;
  font-size: 1em;
  max-width: 900px; }

.expect {
  padding-top: 50px; }

#whattoexpect {
  text-align: center; }

#fullday {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3; }

#halfday {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3; }

.workshop__list {
  width: 65%;
  max-width: 900px;
  list-style: none;
  margin: 3rem auto 3rem auto;
  padding-left: 20px;
  text-align: left; }
  @media only screen and (max-width: 768px) {
    .workshop__list {
      width: 75%;
      padding-left: 10px; } }
  @media only screen and (max-width: 500px) {
    .workshop__list {
      width: 100%;
      padding-left: 10px; } }
  .workshop__list li {
    margin-bottom: 10px; }

.workshop__list-item::before {
  display: inline-block;
  content: '';
  border-radius: 10px;
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
  border: 2px solid #ff7f40; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.gallery {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (7vw)[8];
      grid-template-columns: repeat(8, 7vw);
  -ms-grid-rows: (7vw)[6];
      grid-template-rows: repeat(6, 7vw);
  grid-gap: 5px; }
  @media only screen and (max-width: 768px) {
    .gallery {
      -ms-grid-columns: (10vw)[8];
          grid-template-columns: repeat(8, 10vw);
      -ms-grid-rows: (10vw)[6];
          grid-template-rows: repeat(6, 10vw); } }

.gallery__item {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02); }

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.img-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3; }

.img-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3; }

.img-3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5; }

.img-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5; }

.img-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7; }

.img-6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7; }

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto; }
  @media only screen and (max-width: 768px) {
    .card-container {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 400px;
  height: 350px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  margin: 20px auto;
  border: 1px solid #ff7f40;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2; }
  @media only screen and (max-width: 768px) {
    .card {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3; } }

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.card__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.card__list {
  text-align: left;
  list-style: none;
  margin: auto;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0; }

.card__item::before {
  display: inline-block;
  content: '';
  border-radius: 10px;
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
  border: 2px solid #ff7f40; }

.card-btn {
  width: 50px;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.email-link {
  text-decoration: none;
  color: #ff7f40; }

.booknow {
  font-family: "Montserrat";
  font-size: 2em;
  text-align: center;
  color: white;
  font-weight: 300; }

.contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 768px) {
    .contact-grid {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }

.about {
  margin-left: auto;
  color: #3b3131;
  text-align: right;
  padding: 45px 0 0 0;
  background: white;
  font-family: "Montserrat"; }
  .about hr {
    display: none; }
    @media only screen and (max-width: 768px) {
      .about hr {
        display: block;
        border: 0;
        height: 1px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#fa7a24cb), to(rgba(0, 0, 0, 0)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fa7a24cb, rgba(0, 0, 0, 0)); } }

.about__content {
  width: 100%;
  margin: 40px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 20px; }
  @media only screen and (max-width: 768px) {
    .about__content {
      width: 100%;
      text-align: center;
      margin: 40px 0 0 0; } }

.about__top {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3; }

.about__heading {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 2em;
  margin: 0;
  margin-left: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: left; }

.about__sub {
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  font-weight: 400; }

.about__prop {
  text-align: right;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-weight: 600;
  margin: 0; }

.about__value {
  font-family: "Montserrat";
  text-align: left;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 0;
  letter-spacing: .05em; }

.about__value span {
  font-style: italic; }

.about__cri {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: left; }

.contact__heading {
  font-size: 2em;
  text-decoration: underline;
  -webkit-text-decoration-color: #ff7f40;
          text-decoration-color: #ff7f40; }
  @media only screen and (max-width: 768px) {
    .contact__heading {
      font-size: 1.5em;
      margin: 0; } }

.contact__h2, .studio__country {
  font-size: 1.2em; }
  @media only screen and (max-width: 768px) {
    .contact__h2, .studio__country {
      margin: 20px 0 5px 0; } }

.studio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .studio-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      grid-gap: 7px; } }

.studio-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2; }

.studio-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3; }

@media only screen and (max-width: 768px) {
  .contacts > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    width: 50%;
    margin: auto; } }

.contact-container {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat"; }
  @media only screen and (max-width: 768px) {
    .contact-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: auto auto;
          grid-template-rows: auto auto; } }

.contact__left {
  text-align: right;
  width: 50%;
  padding-right: 25px; }
  @media only screen and (max-width: 768px) {
    .contact__left {
      width: 100%;
      text-align: center;
      padding: 0; } }

.contact__right {
  text-align: left;
  width: 50%;
  padding-left: 25px; }
  @media only screen and (max-width: 768px) {
    .contact__right {
      width: 100%;
      text-align: center;
      padding: 0; } }

.studio__name {
  color: #ff7f40; }

.contacts a {
  color: inherit; }

.contact__btn {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  color: white;
  font-family: 'Montserrat';
  border: none;
  background: #ff7f40;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  height: 40px; }
  .contact__btn:hover {
    background: #3a3232;
    color: #ff7f40; }
  @media only screen and (max-width: 768px) {
    .contact__btn {
      margin: auto; } }
  .contact__btn img {
    width: 20px;
    height: 20px; }

.article {
  width: 70%;
  margin: auto;
  margin-top: 100px; }
  .article hr {
    display: block;
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#fa7a24cb), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fa7a24cb, rgba(0, 0, 0, 0)); }

.article__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.article__heading {
  font-family: "Montserrat";
  color: #ff7f40;
  line-height: 1.25em;
  font-size: 2em;
  margin: 0;
  color: white;
  text-shadow: -1px -1px 0 #ff7f40, 1px -1px 0 #ff7f40, -1px 1px 0 #ff7f40, 1px 1px 0 #ff7f40; }

.article__date {
  margin: 0;
  font-size: .75em;
  font-weight: 400;
  color: rgba(56, 53, 53, 0.479); }

.article__img {
  width: 25%;
  margin-right: 20px;
  margin-bottom: 20px; }

.landing {
  height: 75vh;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background: #ff7f40;
  background-color: #ff7f40;
  background-size: cover;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02); }

#banner {
  background-image: url(../img/header-l.jpg);
  background-position: 0 0px;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 768px) {
    #banner {
      background-image: url(../img/header-m.jpg); } }
  @media only screen and (max-width: 500px) {
    #banner {
      background-image: url(../img/header-s.jpg); } }

.landing-small {
  height: 250px;
  margin-top: 100px; }

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 20%;
  width: 100vw; }
  @media only screen and (max-width: 500px) {
    .landing-container {
      padding-left: 5%; } }

.landing__content {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
  color: #fff6ef;
  border-radius: 10px;
  font-size: 1.1em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.514), 5px 5px 3px rgba(0, 0, 0, 0.644); }
  @media only screen and (max-width: 768px) {
    .landing__content {
      max-width: 320px; } }

.landing__heading {
  font-family: "Berkshire Swash";
  letter-spacing: .1em;
  font-size: 4em;
  margin: 0;
  margin-left: auto;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .landing__heading {
      font-size: 3em; } }
  .landing__heading span {
    font-family: "Montserrat";
    font-size: .5em;
    position: absolute;
    font-weight: 100; }

.landing__sub {
  font-size: 1.4em;
  font-weight: 400; }
  @media only screen and (max-width: 768px) {
    .landing__sub {
      font-size: 1.2em; } }

.cri {
  font-size: 1em;
  margin: 0 auto 0 auto;
  padding: 25px 0;
  color: #ff7f40;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 150px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 80%; }
  @media only screen and (max-width: 768px) {
    .cri {
      width: 100%; } }

.cri__heading {
  font-size: 3em;
  margin-bottom: 0;
  font-family: "Montserrat";
  font-weight: 600;
  position: relative; }
  .cri__heading span {
    font-family: "Montserrat";
    font-size: .5em;
    position: absolute; }
  @media only screen and (max-width: 500px) {
    .cri__heading {
      font-size: 2em; } }

.cri__heading span {
  font-size: .5em; }

.blockquote {
  font-family: Georgia, serif;
  font-size: 1em;
  font-style: italic;
  letter-spacing: .1em;
  max-width: 650px;
  margin: 10px auto 25px auto;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative; }

.blockquote cite {
  font-size: 14px;
  display: block;
  margin-top: 5px; }

.blockquote cite:before {
  content: "\2014 \2009"; }

.cri__p {
  text-align: left;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 1em;
  color: #141414; }
  @media only screen and (max-width: 768px) {
    .cri__p {
      text-align: left; } }

.cri__img-container {
  width: 75%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 2px;
  background: #3a3232;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02); }
  @media only screen and (max-width: 768px) {
    .cri__img-container {
      width: 90%; } }

.cri__img {
  height: 200px;
  width: 265px;
  background: black;
  margin: 5px;
  background-size: cover;
  background-position: center;
  border-radius: 5px; }

#cri__img-left {
  background-image: url(../img/sign.jpg); }

#cri__img-mid {
  background-image: url(../img/certificate.JPG);
  width: 450px; }

#cri__img-right {
  background-image: url(../img/compilation.jpg); }

.display-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px; }
  @media only screen and (max-width: 500px) {
    .display-container {
      width: 100%; } }

.display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem; }

.display-item {
  height: 15rem;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.356);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.356);
  overflow: hidden;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }

.display-item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02); }

.display-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 700ms ease-out;
  transition: -webkit-transform 700ms ease-out;
  transition: transform 700ms ease-out;
  transition: transform 700ms ease-out, -webkit-transform 700ms ease-out; }

.display-image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15); }

#booknow {
  background: #ff7f40;
  padding-top: 25px;
  padding-bottom: 25px; }

.booking-container {
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
  background: white; }

.booking-info-link {
  font-size: 2rem;
  color: inherit; }
  .booking-info-link.small {
    font-size: 1.15rem; }

.booking-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.booking-workshop {
  width: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .8em;
  margin: 10px;
  margin-bottom: 20px; }
  .booking-workshop a {
    text-decoration: none;
    color: #ff7f40; }
    .booking-workshop a:visited {
      color: #ff7f40; }

.booking-name {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.booking-img {
  height: 250px;
  width: 200px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px; }

.booking-overlay {
  background: rgba(0, 0, 0, 0.445); }

.booking-mountain {
  background: url(../img/resize/thumbs/5.jpg);
  background-size: cover; }

.booking-sea {
  background: url(../img/resize/thumbs/10.jpg);
  background-size: cover; }

.booking-forest {
  background: url(../img/resize/thumbs/3.jpg);
  background-size: cover; }

.disclaimer {
  font-size: .7em;
  margin: 0;
  text-align: right;
  color: rgba(0, 0, 0, 0.336); }

.enq-btn {
  display: block;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.08), 0px 10px 5px -8px rgba(0, 0, 0, 0.02);
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
  width: 150px; }
/*# sourceMappingURL=styles.css.map */