:root {
    --primary: #fa8424;
    --secondary: #ff7789;
    --tertiary: #ff9277;
    --shadow: 0px 10px 20px 2px rgba(0,0,0,0.08), 0px 10px 5px -8px rgba(0,0,0,0.02);
  }

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
  position: relative;
}

.nav {
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 900;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0));
}

.container {
  width: 800%;
  max-width: 1200px;
  margin: auto;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__logo-upper {
  text-transform: uppercase;
  font-family: 'Montserrat';
  margin-top: auto;
  margin-bottom: auto;
}

.nav__logo-lower {
  text-transform: lowercase;
  font-family: 'Bad Script';
  color: #ffd0b0;
  margin-left: -.5em;
  font-size: .75em;
}

.nav__menu {
  display: flex;
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
}

.nav__item {
  padding: 0 10px 0 10px;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
}

.btn {
  border: none;
  background: white;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}

.nav__btn .nav__link {
  color: var(--primary);
}

.landing {
  height: 80vh;
  min-height: max-content;
  background: orange;
  background-image: url(../working/img/brushes-orange.png);
  background-color: var(--primary);
  background-size: cover;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  box-shadow: var(--shadow);
}

.landing__content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 40px 100px 150px auto;
}

.landing__heading {
  width: 60%;
  margin-left: auto;
}

.landing__img {
  position: absolute;
  background-image: url(../working/img/photo-1459908676235-d5f02a50184b.jpg);
  background-size: cover;
  z-index: 100;
  width: 300px;
  height: 200px;
  max-width: 50%;
  bottom: -20%;
  box-shadow: var(--shadow);
}

.about {
  margin-left: auto;
  color: #1a1919;
  text-align: right;
  padding: 25px 0;
  background: white;
}

.about__content {
  width: 50%;
  margin-left: auto;
  margin-right: 5%;
}

.about__heading {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 2em;
}

.about__p {
  text-align: justify;
}

.cri {
  margin: auto;
  padding: 25px 0;
  color: #ffffff;
  background: rgb(163, 134, 80);
  text-align: center;
  display: flex;
  padding-bottom: 150px;
  margin: auto;
  /* background-image: url(../working/img/IMG_2376-blur.jpg); */
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 80%;
}

.cri__heading {
  font-size: 2em;
  margin-bottom: 0;
  font-family: 'Georgia';
  font-weight: 300;
}

.blockquote {
  font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 850px;
    margin: 0 auto 10px auto;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
}

.blockquote::before {
  display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 3em;
    position: absolute;
    left: 30px;
    top: -20px;
}

.blockquote cite {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.blockquote cite:before {
  content: "\2014 \2009";
}

.cri__p {
  columns: 2;
  text-align: justify;
  width: 100%;
  max-width: 800px;
  margin: auto;
  line-height: 1;
}

.cri__img-container {
  width: 75%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
}

.cri__img {
  height: 200px;
  width: 200px;
  background: black;
  margin: 5px;
  background-size: cover;
  box-shadow: var(--shadow);
}

#cri__img-left {
  background-image: url(../working/img/IMG_1692.jpg);
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

#cri__img-mid {
  background-image: url(../working/img/IMG_1528.JPG);
  width: 400px;
}

#cri__img-right {
  background-image: url(../working/img/IMG_2545.jpg);
}

.footer {
  height: 50px;
  background: var(--primary);
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%
  max-width: 1200px;
  margin: auto;
}

.footer__logo-upper {
  text-transform: uppercase;
  font-family: 'Montserrat';
  margin-top: auto;
  margin-bottom: auto;
  font-size: .75em;
}

.footer__logo-lower {
  text-transform: lowercase;
  font-family: 'Bad Script';
  color: #ffd0b0;
  margin-left: -.5em;
  font-size: .75em;
}

.footer__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 176, 99);
  height: 50px;
  width: 50px;
}



