<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog - ART thoughts</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 600|Pacifico|Berkshire+Swash" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
</head>

<body>
  
  <div class="navbar">
      <div class="logo"><a href="../index.html"><span>ART</span>houghts</a></div>
    <div class="nav-right">
      <a href="../index.html#about">Bob Ross CRI®</a>
      <div class="subnav">
        <button class="subnavbtn">Workshops <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="../index.html#whattoexpect">What to expect</a>
          <a href="../index.html#cards">Full-Day</a>
          <a href="../index.html#cards">Half-Day</a>
          <a href="../index.html#gallery">Gallery</a>
        </div>
      </div>
      <a href="#" class="active-nav">Blog</a>
      <a href="/views/contact.html">Contact</a>
    </div>
  </div>

  <main>
      <section class="landing" id="banner">
          <div class="container landing-container">
            <div class="landing__content">
              <h1 class="landing__heading">Discover the Joy of Painting<span>®</span></h1>
              <p class="landing__sub">Painting workshops with Maaret Webb, teaching artist and Certified Bob Ross
                Instructor</p>
            </div>
          </div>
        </section>

    <section class="blog">
      <div class="container">
        <article class="article">
          <div class="article__upper">
            <h1 class="article__heading">Article/Blog Entry</h1>
            <p class="article__date">20 Feb '19 <time datetime="2019-02-20"></time></p>
          </div>
          <hr>
          <div class="article__body">
            <p class="article__p"><img class="article__img" src="/img/1.jpg" alt="" ALIGN="left">Lorem, ipsum dolor sit
              amet consectetur adipisicing elit. Repudiandae voluptatum recusandae consequatur natus deserunt
              voluptates repellendus, eveniet quos quibusdam explicabo unde dignissimos quas harum. Ad?</p>
            <p class="article__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non doloremque fuga quaerat
              quod, id expedita voluptate autem, ratione est reiciendis ullam officia corrupti nisi eum ab, in ut earum
              illo? Blanditiis aliquid quaerat deserunt?</p>
            <p class="article__p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, veniam, odit, ipsum
              porro delectus repellendus tempore sequi saepe sunt unde quaerat eum ratione. Molestias necessitatibus
              perferendis consequuntur voluptatem error.</p>
            <p class="article__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque temporibus doloribus
              magni architecto non doloremque. Facere totam sequi alias, laboriosam deserunt, veniam sit dignissimos
              ratione earum, deleniti illum natus excepturi ipsam voluptas! Esse, laborum praesentium! Minus reiciendis
              fuga quibusdam ea consequatur? Alias id tenetur amet et aspernatur beatae.</p>
          </div>
          <hr>
        </article>

        <article class="article">
          <div class="article__upper">
            <h1 class="article__heading">Article/Blog Entry</h1>
            <p class="article__date">24 Feb '19<time datetime="2019-02-24"></time></p>
          </div>
          <hr>
          <div class="article__body">
            <p class="article__p"><img class="article__img" src="/img/2.jpg" alt="" ALIGN="left">Lorem, ipsum dolor sit
              amet consectetur adipisicing elit. Repudiandae voluptatum recusandae consequatur natus deserunt
              voluptates repellendus, eveniet quos quibusdam explicabo unde dignissimos quas harum. Ad?</p>
            <p class="article__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non doloremque fuga quaerat
              quod, id expedita voluptate autem, ratione est reiciendis ullam officia corrupti nisi eum ab, in ut earum
              illo? Blanditiis aliquid quaerat deserunt?</p>
            <p class="article__p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, veniam, odit, ipsum
              porro delectus repellendus tempore sequi saepe sunt unde quaerat eum ratione. Molestias necessitatibus
              perferendis consequuntur voluptatem error.</p>
            <p class="article__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque temporibus doloribus
              magni architecto non doloremque. Facere totam sequi alias, laboriosam deserunt, veniam sit dignissimos
              ratione earum, deleniti illum natus excepturi ipsam voluptas! Esse, laborum praesentium! Minus reiciendis
              fuga quibusdam ea consequatur? Alias id tenetur amet et aspernatur beatae.</p>
          </div>
          <hr>
        </article>
      </div>

    </section>

  </main>
  <footer class="footer">
    <div class="container footer__container">
      <p class="copy">&copy copyright 2019</p>
      <div class="social"><i class="social-icon fab fa-facebook-square fa-2x"></i><i class="social-icon fab fa-twitter-square fa-2x"></i><i
          class="social-icon fab fa-instagram fa-2x"></i></div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../js/scripts.js"></script>

</body>

</html>