<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ART thoughts Contact</title>
  <link rel="stylesheet" href="../compiled/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Damion|Raleway|Montserrat:300|Bad+Script" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
</head>

<body>
  <nav class="nav">
    <div class="container nav__container">
      <h1 class="nav__logo-upper">ART<span class="nav__logo-lower">thoughts</span></h1>
      <ul class="nav__menu">
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Bob Ross CRI®</a></li>
        <li class="nav__item"><a href="/views/workshops.html" class="nav__link">Workshops</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><button class="btn nav__btn"><a href="#" class="nav__link ">Contact</a></button></li>
      </ul>
    </div>
  </nav>
  <main>
    <section class="landing">
      <div class="container">
        <div class="landing__content">
          <h1 class="landing__heading">Contact</h1>
          <p class="landing__sub">This is where you'll find information about our studios and contact details</p>
        </div>
      </div>
    </section>
    <section class="contact">
      <div class="container contact-container">
        <div class="contact__left">
          <h1 class="contact__h1">Studios</h1>
          <div class="studios">
            <h2 class="studio__country">Australia</h2>
            <div class="studio-1">
              <p class="studio__address"><span class="studio__name">James Street Atelier</span><br>Burleigh Heads<br>Gold
                Coast<br>QLD 4220</p>
            </div>
            <div class="studio-2">
              <p class="studio__address"><span class="studio__name">Studio Name</span><br>suburb<br>Brisbane<br>QLD
                postcode</p>
            </div>
            <h2 class="studio__country">New Zealand</h2>
            <div class="studio-3">
              <p class="studio__address">4 Lancewood Lane <br>Queenstown 9300</p>
            </div>
          </div>
        </div>
        <div class="contact__right">
          <h1 class="contact__h1">Contact</h1>
          <div class="contacts">
            <h2>Phone:</h2>
            <p>0455083696</p>
            <button class="contact__btn">
              <a class="contact__method" href="tel:+61455083696">Call</a>
            </button>
            <h2>Email:</h2>
            <p>sademaaret@yahoo.com.au</p>
            <button class="contact__btn">
              <a class="contact__method" href="mailto:sademaaret@yahoo.com.au">Email</a>
            </button>
          </div>
        </div>


      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container footer__container">
      <p class="copy">&copy copyright 2019</p>
      <div class="social">
        <i class="social-icon fab fa-facebook-square fa-2x"></i>
        <i class="social-icon fab fa-twitter-square fa-2x"></i>
        <i class="social-icon fab fa-instagram fa-2x"></i>
      </div>
    </div>
  </footer>
</body>

</html>