<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact - ART thoughts</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 600|Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
</head>

<body>
  <div class="navbar">
    <div class="logo"><a href="../index.html#home">LOGO</a></div>
    <div class="nav-right">
      <a href="../index.html#about">Bob Ross CRI®</a>
      <div class="subnav">
        <button class="subnavbtn">Workshops <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="../index.html#whattoexpect">What to expect</a>
          <a href="../index.html#cards">Full-Day</a>
          <a href="../index.html#cards">Half-Day</a>
          <a href="../index.html#gallery">Gallery</a>
        </div>
      </div>
      <a href="/views/blog.html">Blog</a>
      <a href="#" class="active-nav">Contact</a>
    </div>
  </div>

  <main>
      <section class="landing" id="banner">
          <div class="container landing-container">
            <div class="landing__content">
              <h1 class="landing__heading">Discover the Joy of Painting<span>®</span></h1>
              <p class="landing__sub">Painting workshops with Maaret Webb, teaching artist and Certified Bob Ross
                Instructor</p>
            </div>
          </div>
        </section>
    <div class="contact-grid" id="contact">
      <section class="about">
        <div class="container">
          <div class="about__content">
            <div class="about__top">
              <h1 class="about__heading">Maaret Webb</h1>
              <h2 class="about__sub">Teaching Artist</h2>
            </div>
            <p class="about__prop">Born: </p>
            <p class="about__value">Alingsas, Sweden</p>
            <p class="about__prop">Home: </p>
            <p class="about__value">Gold Coast, Australia</p>
            <p class="about__prop">Studios: </p>
            <div>
              <p class="about__value">Burleigh Heads, Australia</p>
              <p class="about__value">Queenstown, New Zealand</p>
            </div>

            <p class="about__prop">Education: </p>
            <div>
              <p class="about__value">University of Tampere, <span>Finland</span></p>
              <p class="about__value">Brisbane Institute of Art, <span>Brisbane Australia</span></p>
              <p class="about__value">Arts Academy, <span>Brisbane Australia</span></p>
              <p class="about__value">Illustration House, <span>Brisbane Australia</span></p>
              <p class="about__value">Julian Ashton Art School, <span>Sydney Australia</span></p>
              <p class="about__value">Royal Art Society of NSW, <span>Sydney Australia</span></p>
              <p class="about__value">Bob Ross Art Workshop & Gallery, <span>New Smyrna Beach, Florida</span></p>
            </div>
            <p class="about__cri">CRI® Certified Ross Instructor in Landscape</p>
          </div>
        </div>
        <hr>
      </section>
      <section class="contact" id="contact">
        <div class="container contact-container">
          <div class="contact__left">
            <h1 class="contact__heading">Studios</h1>
            <div class="studios">
              <h2 class="studio__country">Australia</h2>
              <div class="studio-container">
                <div class="studio-1">
                  <p class="studio__address"><span class="studio__name">James Street Atelier</span><br>Burleigh Heads<br>Gold
                    Coast<br>QLD 4220</p>
                </div>
                <div class="studio-2">
                  <p class="studio__address"><span class="studio__name">Studio Name</span><br>suburb<br>Brisbane<br>QLD
                    postcode</p>
                </div>
              </div>
              <h2 class="studio__country">New Zealand</h2>
              <div class="studio-3">
                <p class="studio__address">4 Lancewood Lane <br>Queenstown 9300</p>
              </div>
            </div>
          </div>
          <div class="contact__right">
            <h1 class="contact__heading">Contact</h1>
            <div class="contacts">
              <div>
                <h2 class="contact__h2">Phone:</h2>
                <a class="contact__btn" href="tel:+61455083696"><i class="fas fa-phone"></i></a>
                <p>+61 455 083 696</p>
              </div>
              <div>
                <h2 class="contact__h2">Email:</h2>
                <a class="contact__btn" href="mailto:sademaaret@yahoo.com.au"><i class="fas fa-envelope"></i></a>
                <p>sademaaret@yahoo.com.au</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="container footer__container">
      <p class="copy">&copy copyright 2019</p>
      <div class="social"><i class="social-icon fab fa-facebook-square fa-2x"></i><i class="social-icon fab fa-twitter-square fa-2x"></i><i
          class="social-icon fab fa-instagram fa-2x"></i></div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../js/scripts.js"></script>
</body>

</html>