<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery - ART thoughts</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
</head>

<body>
  
  <div class="navbar">
      <div class="logo"><a href="../index.html"><span>ART</span>houghts</a></div>
    <div class="nav-right">
      <a href="../index.html#about">Bob Ross CRI®</a>
      <div class="subnav">
        <button class="subnavbtn">Workshops <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="../index.html#whattoexpect">What to expect</a>
          <a href="../index.html#cards">Full-Day</a>
          <a href="../index.html#cards">Half-Day</a>
          <a href="#gallery">Gallery</a>
        </div>
      </div>
      <a href="/views/blog.html">Blog</a>
      <a href="/views/contact.html" >Contact</a>
    </div>
  </div>

  <main>
      <section class="landing" id="banner">
          <div class="container landing-container">
            <div class="landing__content">
              <h1 class="landing__heading">Discover the Joy of Painting<span>®</span></h1>
              <p class="landing__sub">Painting workshops with Maaret Webb, teaching artist and Certified Bob Ross
                Instructor</p>
            </div>
          </div>
        </section>
    
          <div class="display-container">
            <h1 class="workshop__heading" id="gallery">Gallery</h1>
            <div class="display">
  
              <div class="display-item">
                <a href="../img/resize/1.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/1.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/2.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/2.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/3.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/3.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/4.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/4.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/5.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/5.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/6.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/6.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/7.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/7.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/8.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/8.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/9.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/9.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/10.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/10.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/11.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/11.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/12.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/12.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/13.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/13.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/14.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/14.jpg" alt="">
                </a>                
              </div>

              <div class="display-item">
                <a href="../img/resize/15.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/15.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/16.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/16.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/17.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/17.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/19.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/19.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/20.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/20.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/21.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/21.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/22.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/22.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/23.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/23.jpg" alt="">
                </a>                
              </div> 

              <div class="display-item">
                <a href="../img/resize/24.jpg" data-fancybox>
                  <img class="display-image" src="../img/resize/thumbs/24.jpg" alt="">
                </a>                
              </div> 
            </div>
          </div>

  </main>
  <footer class="footer">
    <div class="container footer__container">
      <p class="copy">&copy copyright 2019</p>
      <div class="social"><i class="social-icon fab fa-facebook-square fa-2x"></i><i class="social-icon fab fa-twitter-square fa-2x"></i><i
          class="social-icon fab fa-instagram fa-2x"></i></div>
    </div>
  </footer>
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
  <script src="../js/scripts.js"></script>
</body>

</html>