<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ART thoughts Workshops</title>
  <link rel="stylesheet" href="../compiled/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Damion|Raleway|Montserrat:300|Bad+Script" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
</head>

<body>
  <nav class="nav">
    <div class="container nav__container">
      <h1 class="nav__logo-upper">ART<span class="nav__logo-lower">thoughts</span></h1>
      <ul class="nav__menu">
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Bob Ross CRI®</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Workshops</a></a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></a></li>
        <li class="nav__item"><button class="btn nav__btn"><a href="#" class="nav__link ">Contact</a></button></li>
      </ul>
    </div>
  </nav>
  <main>
    <section class="landing">
      <div class="container">
        <div class="landing__content">
          <h1 class="landing__heading">Workshops something something</h1>
          <p class="landing__sub">This is where we find out about workshops and there's a gallery down the bottom</p>
        </div>
      </div>
    </section>
    <section class="expect">
      <div class="container">
        <div class="workshop">
          <h1 class="workshop__h1">What to expect</h1>
          <p class="workshop__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fugiat accusamus
            quaerat exercitationem voluptates cum voluptatem velit sapiente, nostrum illum perferendis voluptas
            reprehenderit dolore quod facere inventore quos eos corrupti veritatis voluptatum deleniti et ex. Enim sunt
            magni esse consectetur, doloremque inventore unde assumenda, minima placeat veniam accusantium quasi natus
            tenetur quo! Similique, quas omnis tempore voluptatem libero quae ipsam!</p>
        </div>
      </div>
    </section>
    <section class="halfday">
      <div class="container">
        <div class="workshop">
          <h1 class="workshop__h1">Half Day Workshops</h1>
          <p class="workshop__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum neque est
            exercitationem voluptatem eaque, corrupti mollitia libero! Voluptatum, earum similique. Non delectus labore
            at illum explicabo tempore quidem consequatur alias, ut commodi aut cupiditate, beatae expedita omnis nisi
            deserunt illo consectetur consequuntur voluptatibus odit! Fugit doloribus facere eaque itaque dolorum!</p>

          <p class="workshop__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio consectetur
            eaque reiciendis nam repudiandae, quia soluta voluptatum eligendi esse omnis odit commodi possimus officiis
            blanditiis magni adipisci, modi dolorem. Optio, magni sunt!</p>
          <ul class="workshop__list">
            <li class="workshop__list-item">lorem</li>
            <li class="workshop__list-item">ipsum</li>
            <li class="workshop__list-item">dolor</li>
            <li class="workshop__list-item">sit amet</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="fullday">
      <div class="container">
        <div class="workshop">
          <h1 class="workshop__h1">Full Day Workshops</h1>
          <p class="workshop__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum neque est
            exercitationem voluptatem eaque, corrupti mollitia libero! Voluptatum, earum similique. Non delectus labore
            at illum explicabo tempore quidem consequatur alias, ut commodi aut cupiditate, beatae expedita omnis nisi
            deserunt illo consectetur consequuntur voluptatibus odit! Fugit doloribus facere eaque itaque dolorum!</p>

          <p class="workshop__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio consectetur
            eaque reiciendis nam repudiandae, quia soluta voluptatum eligendi esse omnis odit commodi possimus officiis
            blanditiis magni adipisci, modi dolorem. Optio, magni sunt!</p>
          <ul class="workshop__list">
            <li class="workshop__list-item">lorem</li>
            <li class="workshop__list-item">ipsum</li>
            <li class="workshop__list-item">dolor</li>
            <li class="workshop__list-item">sit amet</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="pictures">
      <div class="gallery-container">
        <div class="gallery">
          <div class="gallery__item img-1"><img src="https://source.unsplash.com/random/400x400/?nature"></div>
          <div class="gallery__item img-2"><img src="https://source.unsplash.com/random/400x400/?water"></div>
          <div class="gallery__item img-3"><img src="https://source.unsplash.com/random/400x400/?trees"></div>
          <div class="gallery__item img-4"><img src="https://source.unsplash.com/random/400x400/?insect"></div>
          <div class="gallery__item img-5"><img src="https://source.unsplash.com/random/400x400/?volcano"></div>
          <div class="gallery__item img-6"><img src="https://source.unsplash.com/random/400x400/?earth"></div>
        </div>
      </div>
    </section>
  </main>
            <footer class="footer">
              <div class="container footer__container">
                  <p class="copy">&copy copyright 2019</p>
                <div class="social">
                    <i class="social-icon fab fa-facebook-square fa-2x"></i>
                    <i class="social-icon fab fa-twitter-square fa-2x"></i>
                    <i class="social-icon fab fa-instagram fa-2x"></i>
                </div>
              </div>
            </footer>
</body>

</html>